{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Данные карусели {% endblock %}

{% block content %}
{% load custom_filters %}
<div>
    <div class="container-fluid">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-7 mb-2 mb-md-0">
                <h5>Данные карусели №{{ carousel_number }}</h5>
            </div>
        </header>
    </div>

    <div>
        <table class="table table-striped table-hover" style="border-radius: 5px; overflow: hidden;">
            <tr class="table-dark" align="center"
                style="background-color: #051831 !important; color: white !important;">
                <th>Пост</th>
                <th>Вес перед наполнением</th>
                <th>Вес после наполнения</th>
                <th>Номер метки</th>
                <th>Серийный номер</th>
                <th>Объём</th>
                <th>Вес нетто</th>
                <th>Вес брутто</th>
                <th>Готов к наполнению</th>
                <th>Дата изменения</th>
                <th>Время изменения</th>
            </tr>
            {% for item in page_obj.object_list %}
            <tr align="center">
                <td>{{ item.post_number }}</td>
                <td>{{ item.empty_weight|float_format }}</td>
                <td>{{ item.full_weight|float_format }}</td>
                <td>{{ item.nfc_tag|default_if_none:"-" }}</td>
                <td>{{ item.serial_number|default_if_none:"-" }}</td>
                <td>{{ item.get_size_display }}</td>
                <td>{{ item.netto|default_if_none:"-" }}</td>
                <td>{{ item.brutto|default_if_none:"-" }}</td>
                <td>{% if item.filling_status %}Да{% else %}Нет{% endif %}</td>
                <td>{{ item.change_date|date:"d.m.Y" }}</td>
                <td>{{ item.change_time|time:"H:i:s" }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% include 'filling_station/_paginator.html' %}

    <div class="mb-3">
        <p>Количество баллонов за период с <strong>{{ start_date|date:"j E Y" }}</strong> по
            <strong>{{ end_date|date:"j E Y" }}</strong> - {{ total_count }} баллонов</p>
    </div>

    <div class="container-fluid mb-3">
        <form method="post" enctype="multipart/form-data" class="row align-items-center">
            {% csrf_token %}
            <div class="col-auto">
                {{ form.start_date }}
            </div>
            <div class="col-auto">
                {{ form.end_date }}
            </div>
            <div class="col-auto">
                {{ form.size }}
            </div>
            <div class="col-auto">
                <button type="submit" name="action" value="show" class="btn"
                        style="background-color: #3CBBD9; color: white;">
                    Показать
                </button>
                <button type="submit" name="action" value="export" class="btn"
                        style="background-color: #3CBBD9; color: white;">
                    Экспорт в Excel
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}